<form (submit)="modifyServer()" [formGroup]="serverForm">
  <div class="dialog">
    <div class="title">Customize your server</div>
    <div class="sub-title">
      Give your new server a personality by choosing a name and a icon. You can
      always change them later.
    </div>
    <br />
    <label for="img-input">
      <div class="img-input-icon">
        <mat-icon *ngIf="image.url == ''">add_a_photo</mat-icon>
        <img *ngIf="image.url != ''" [src]="image.url" />
        <span>Add an icon!</span>
      </div>
      <input
        #file
        (change)="preview(file.files)"
        accept="image/*"
        formControlName="icon"
        id="img-input"
        type="file"
      />
    </label>

    <div class="form-item">
      <label class="mb-2" for="server-name">Server name</label>
      <input
        class="appearance-none rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
        formControlName="name"
        id="server-name"
        maxlength="50"
        type="text"
      />
      <span *ngIf="name && name.invalid && name.touched" class="mat-error"
        >Must be 3 to 50 characters.</span
      >
    </div>
  </div>
  <footer class="dialog-footer">
    <button (click)="close()" class="btn">Feedback</button>
    <button (click)="modifyServer()" class="btn btn-blue" type="submit">
      Edit
    </button>
  </footer>
</form>
